.main-wrapper {
  background-image: url('./backgroung.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-wrapper {
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 50px 10px;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 980px) {

  .form {
    width: 50%;
  }
}

@media (max-width: 750px) {

  .form {
    width: 75%;
  }
}

@media (max-width: 500px) {

  .form {
    width: 100%;
  }
}

.form__header {
  background-color: #007bff;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: "Optima", sans-serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.form__body {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #6c757d;
  border-right: 1px solid #6c757d;
}

.form__body__header {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 15px;
  color: #80bdff;
}

.form__input {
  width: 100%;
  padding: 7px 3px 7px 10px;
  margin-bottom: 15px;
  border: 1px solid #6c757d;
  border-radius: 20px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-inline .form__input {
  width: 40%;
}

.form__input:focus {
  display: block;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form__submit {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.form__footer {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid #6c757d;
  padding: 10px 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #007BFF;
  padding: 0;
}

.header {
  background-color: #007BFF;
}

.header__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__profile:hover {
  cursor: pointer;
}

.header__profile:hover .header__name {
  cursor: pointer;
  color: #a6a7a9;
}

.header__alt-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
}

.logout:hover {
  color: #a6a7a9;
  cursor: pointer;
}

.chat {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.chat__container {
  position: relative;
  left: 17px;
  overflow-y: scroll;
  box-sizing: content-box;
  width: 100%;
  padding-right: 17px;
}

.container__input {
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.message__user {
  display: flex;
  width: 50%;
  align-items: flex-end;
}

@media (max-width: 768px) {

  .message__user {
    width: 100%;
    padding-right: 10px;
  }
}

.message__block {
  width: 100%;
  background-color: #F2F2F2;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message__author {
  font-family: 'Bradley Hand', cursive;
  padding-right: 10px;
  text-align: right;
}

.message__text {
  padding: 10px;
  font-family: sans-serif;
}

.message__time {
  width: 100%;
  font-family: 'FreeMono', monospace;
  font-size: 12px;
  padding-left: 10px;
}

.message__user-current {
  display: flex;
  width: 50%;
  margin-left: auto;
  align-items: flex-end;
}

@media (max-width: 768px) {

  .message__user-current {
    width: 100%;
  }
}

.message__block-current {
  width: 100%;
  background-color: #ffffeb;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.message__author-current {
  font-family: 'Bradley Hand', cursive;
  padding-left: 10px;
}

.message__text-current {
  padding: 10px;
  font-family: sans-serif;
}

.message__time-current {
  width: 100%;
  text-align: right;
  font-family: 'FreeMono', monospace;
  font-size: 12px;
  padding-right: 10px;
}

textarea {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal__header {
  font-family: 'FreeMono', monospace;
}

.profile__photo-select {
  color: #007BFF;
  font-family: cursive;
}

.profile__photo-select:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile__photo-display {
  margin: 0 20px 20px 0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}